body{
    background-image:url("https://i.ytimg.com/vi/yYwQrM6QOQQ/maxresdefault.jpg");
}

header{
  padding:60px;
  margin-bottom: 50px;
  background-color: rgba(0,0,0,0.5);
  color:white;
  font-size:25px;
}
input:focus{color:purple;
border-radius: 10px;
}
#inputField{
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px;
}
#myCanvas{color: purple;}
.navbar {
  margin-bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color:#fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: rgb(178,50,178) !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.btn-warning{
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
#inputFieldTitle{
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 42%;
  padding: 7px;
}